body > .container {
  background-color: #cccccc;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
  margin-bottom: 40px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

.popover {
  max-width: 600px;
}

.popover-title {
  font-weight: bold;
}

.popover-link {
  color: #444;
  font-size: 16px;
}

.popover-link > i.fa {
  vertical-align: top;
  font-size: 12px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-top: 2px solid blue;
  border-bottom: 0;
  font-weight: bold;
}

.nav-tabs>li {
  margin-left: 7px;
}

.nav-tabs>li>a {
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #cccccc;
}

/* Navbar */

.navbar-brand {
  padding: 16px 17px;
  /*height: 56px;*/
  margin-top: -4px;
}

.navbar-inverse {
  background: #FF7D1C;
  background-image: url(header.png);          /* Background image */
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family:  'EZY_NavBar';
}

.navbar .fa-fw {
  margin-right: -1px;
}

.navbar {
  font-size: 16px;
  border: 0 !important;
  /*height: 55px !important;*/
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 13px;
}

.navbar-inverse .navbar-nav>li>a {
  border-top: 2px solid transparent;
  margin-bottom: -1px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  /* border-top-color: #201a16; */
  background: #fff;
  color: #201a16;
  cursor: default;
  transition: background 0.3s;
}

/* Animated underline for the main nav */
.navbar .navbar-nav>li>a:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 1px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar .navbar-nav>li>a:hover:after {
	width: 100%;
	background: #fff;
}
.navbar .navbar-nav>.active>a:hover:after {
	width: 0px;
	background: transparent;
}

#saveBtn {
  vertical-align: middle;
  margin-left: 10px;
}

.btn-loading-container {
  margin-left: 10px;
  font-size: 1.2em;
  font-family: "EZY_Text";
}


#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}

label {
  font-size: 1.2em;
}

button.btn-primary:not(.lg-btn) {
  font-size: 1.2em;
}

button.btn-primary.lg-btn {
  padding: 10px 20px;
}

.next-msg {
  margin-top: 20px;
  color: #777;
  font-size: 1.4em;
  font-weight: bold;
}

#SettingsTabContent .shiny-input-container {
  width: 400px;
}



a {
	color: #ff7d1c; /* easyJet orange */
}

a:focus, a:hover {
    color: #ff7d1c;
}

.btn-primary {
    background-color: #ff903e;  /* easyJet orange muted */
    border-color: #ff903e;
}

.btn-primary:hover {
    background-color: #ff7d1c;
    border-color: #ff7d1c;
}

.btn-primary.active, .btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-color: #ff7d1c !important;
    border-color: #ff7d1c !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #ff7d1c !important;
    border-color: #ff7d1c !important;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #ff7d1c;
    border-color: #ff7d1c;
}

.progress-bar {
    background-color: #ff7d1c;
}

.img-responsive {
	border-radius: 50% !important;
}

#img_container {
	margin-top: 100px;
	margin-left: 9px;
}

@media (min-width: 768px) {
.navbar .navbar-nav {
  float: right
}

#img_container {
	margin-top: 100px;
	margin-left: 7px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	border-radius: 10px 10px 0px 0px;
}
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
    margin-top: 9px;
    margin-bottom: 9px;

}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff70;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ffffff;
}

@media (min-width: 1300px) {
.container {
  width: 90%;
}
}

ol { 
padding: 0px;
}

.small-box{
  margin-top: 22px;
}
